<%- include("header") -%>

<h2>Eu sou o Marco Miani</h2>

<h3>Muito prazer em conhecê-lo.</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci mollitia est fugiat provident sequi porro cumque.
    Deserunt ex fugiat natus nemo alias. Doloremque soluta veniam recusandae perspiciatis, sequi rerum! Fuga.</p>

<%- include("footer") -%>